<p>ID:
    <%= user.id %>
</p>
<p>Name:
    <%= user.name %>
</p>
<p>Email:
    <%= user.email %>
</p>

<h1>Search Bar</h1>
<form name="searchForm" method="POST" action="/mails/search">
<table>
    <tr>
    <td><input colspan="32" type="text" name="search" ></td>
    </tr>
    <td colspan="2"><input type="submit" value="Find" ></td>
    </tr>
</table>
</form>

<h2><a href="/logout">Logout</a></h2>

<% if (!error) { %>
<% } else { %>
	<h2>Hello, <%= error %>.</h2>
<% } %>
